<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>@majrin project</title>
    <meta name="description" content="@majrin project">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="language" content="pl">
</head>

<body>
    <main>
        <header>
            <h1>master</h1>
        </header>

        <p>majri master 12.08.2018</p>

        <div id="michal" class="logo">
            <img src="images/majrin.svg">
        </div>
        <div class="logo">
            <img src="images/majrin.svg">
        </div>
        <div class="logo">
            <img src="images/majrin.svg">
        </div>

        <footer>
            <p>www.przemyslvw.pl</p>
        </footer>
    </main>
</body>

</html>